body{
    font-style: none;

    padding: 0;
    gap: 0;
    background-color: #92FF6C;
}


.box-verde{
    position: relative;
    left: 400px;
    top: 70px;
    width:  700px;
    height: 400px;
    background-color: gray;
}
